<%
if (!page.banner_img) {
  page.banner_img = theme.post.banner_img
}
page.banner_img_height = theme.post.banner_img_height
page.banner_mask_alpha = theme.post.banner_mask_alpha
%>
<script type="text/javascript" src="https://unpkg.com/artitalk"></script>
<div id="artitalk_main"></div>
<script>
new Artitalk({
    appId: 'G0lxQDRCDzOEFhSmdbFJ8fuU-MdYXbMMI',
    appKey: 'obDfCIT4j5ts3Xyu87xiARhy',
    pageSize : "10",
    color1 : '#7089A3',
    color2 :'#7089A3',
    bgImg : 'https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_20.png',
    img : 'https://gitee.com/Trotyl15/blogImage/raw/master/img/avatar.png',
    // atEmoji: {
    //   "Trotyl-1": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/ntr.png",
    //   "Trotyl-1": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/hao.png",
    //   "Trotyl-6": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/hello.png",
    //   "Trotyl-2": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/xing.png",
    //   "Trotyl-3": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/jiuZhe.png",
    //   "Trotyl-5": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/le.png",
    //   "Trotyl-4": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/thinking.png",
    //   "EveOneCat-1": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_1.png",
    //   "EveOneCat-2": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_2.png",
    //   "EveOneCat-3": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_3.png",
    //   "EveOneCat-4": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_4.png",
    //   "EveOneCat-5": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_5.png",
    //   "EveOneCat-6": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_6.png",
    //   "EveOneCat-7": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_7.png",
    //   "EveOneCat-8": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_8.png",
    //   "EveOneCat-9": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_9.png",
    //   "EveOneCat-10": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_10.png",
    //   "EveOneCat-11": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_11.png",
    //   "EveOneCat-12": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_12.png",
    //   "EveOneCat-13": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_13.png",
    //   "EveOneCat-14": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_14.png",
    //   "EveOneCat-15": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_15.png",
    //   "EveOneCat-16": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_16.png",
    //   "EveOneCat-17": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_17.png",
    //   "EveOneCat-18": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_18.png",
    //   "EveOneCat-19": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_19.png",
    //   "EveOneCat-20": "https://gitee.com/Trotyl15/blogImage/raw/master/img/emoji/EveOneCat/EveOneCat_20.png"
    // }

})
</script>