// --------------------------------------
// Fluid
// https://github.com/fluid-dev/hexo-theme-fluid
// --------------------------------------

@import "_variables/base"

@import "_functions/base"

@import "_mixins/base"

@import "_pages/pages"

div, body {
    cursor: url(https://github.com/Trotyl15/Trotyl15.github.io/blob/master/img/cursor.cur?raw=true), auto;
}
li, p , input {
    cursor: url(https://github.com/Trotyl15/Trotyl15.github.io/blob/master/img/cursor2.cur?raw=true), auto;
}
a, body a, img {
    cursor: url(https://github.com/Trotyl15/Trotyl15.github.io/blob/master/img/cursor3.cur?raw=true), auto;
}

/* 
 * 放置于这里的CSS将应用于所有皮肤
 * 萌娘百科仅开放Vector皮肤
 * 请尊重萌娘百科版权，以下代码除非注明均是管理员手敲出来的！！！复制需要注明源自萌娘百科，并且附上URL地址http://zh.moegirl.org/MediaWiki:Common.css
 * 版权协定：知识共享 署名-非商业性使用-相同方式共享 3.0
 * 复制之后请把图片换成自己网站上URL地址！
 */

.heimu, .heimu a, a .heimu, .heimu a.new {
    background-color: #252525;
    color: #252525;
    text-shadow: none;
}
.heimu:hover, .heimu:active,
.heimu:hover .heimu, .heimu:active .heimu {
    color: white !important;
}
.heimu:hover a, a:hover .heimu,
.heimu:active a, a:active .heimu {
    color: lightblue !important;
}
.heimu:hover .new, .heimu .new:hover, .new:hover .heimu,
.heimu:active .new, .heimu .new:active, .new:active .heimu {
    color: #BA0000 !important;
}

/*阅读更多：https://zh.moegirl.org/MediaWiki:Mobile.css 本文引自萌娘百科(https://zh.moegirl.org)，文字内容默认使用《知识共享 署名-非商业性使用-相同方式共享 3.0》协议。*/

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #63cedf;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #63cedf;
}

::selection {background: #FFAA8D;color: white;}